
  /* General Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background-color: rgb(246,242,232);
  color: #333;
  line-height: 1.6;
}

/* Header */
header {
  background: #fff8e7;
  padding: 1rem 0;
  border-bottom: 1px solid #e2d9c7;
}

.container {
  width: 90%;
  max-width:inherit;
  margin: auto;
}

.logo {
  
  float: left;
  font-size: 1.8rem;
  color: #b06010;
  font-weight: bold;
}

nav {
  float: right;
}

.nav-links {
 list-style: none;
  display: flex;
  gap: 4.5rem;
 
  margin: 20px;

}

.nav-links a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
  transition: color 0.3s ease;
}

.nav-links a:hover {
  color: #b06010;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

/* Hero Section */
.hero {
  position: relative;
  height: 525px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

.hero-text {
  z-index: 3;
  color: grey;
 
  padding: 2rem;
  border-radius: 10px;
  margin-left: -860px;
  width: 25%;
  height: 85%;
}


.hero h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  padding: 0.7rem 1.5rem;
  color: black;
  text-decoration: none;
  border-radius: 16px;
  border: 1px solid black;
}

/* About Section */
.about {
  padding: 3rem 0;
  display: flex;
  justify-content: space-around;
color: black;
  line-height: 2;
  text-align: left
}
.about a{
  text-decoration: none;
  color: black;
}
.about a:hover{
  text-decoration: underline;
}
.about h4{
  text-decoration: none;
  color: black;
  line-height: 2;
  text-align: left;
}

.footer1{
  background-image: url("IMG1-_2880.jpg");
  background-repeat: no-repeat;
  background-size: cover;
   width: 100%;
  height: 100%;
  z-index: 2;
 
}
.footer1 h2{
  width: 63%;
  padding: 130px;
   
  text-align: center;
  padding-left: 280px;
  font-weight: 200;
}
/* * Footer */ */
footer {
  background: #fff3e0;
  padding: 1rem 0;
  text-align: center;
  color: #666;
}
.site-logo {
  height: 60px;
  object-fit: contain;
  margin-top: -5px;
}
.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(to right, rgba(255, 250, 240, 0.95) 40%, rgba(255, 250, 240, 0.1) 80%);
}
.hero h2{
  font-size: 38px;
  margin-bottom: 1rem;
  text-transform: uppercase;
  line-height: 46px;
  letter-spacing: 1.9px;
  font-family: "Montserrat", Sans-serif;
  font-weight: normal;
}
.hero p{
  color: gray;
  font-size: 19px;

  font-weight: lighter;
}
.qualities
   {
  padding: 60px;
  background-color: burlywood;
  text-align: center;
}
.imgtext{
  display: flex;
}
.imgtext img{
  
  width: 50%;
  height: 90%;
  border-radius: 80px;
  margin: 20px;
  padding: 40px;
  margin-left: 40px;

}
.text{
  text-align: left;
  margin: -2px;
  width: 30%;
  margin-top: 12%;
}
.text h1{
  text-align: left;
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
  line-height: 45px;
  color: grey;
}
.text p{
  color:grey;
line-height:29px
}
.japa{
  background: linear-gradient(rgba(228, 224, 224, 0.5), rgba(249, 244, 244, 0.5)), url('A7408715-2.jpg');
  background-size: cover;
  display: flex;
width: 100%;
background-attachment: fixed;
height: 100%;
}
.japa h2{
  font-size:50x;
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.9px;

}
.japa ul li{
  font-weight: 500;
  font-family: "Montserrat", Sans-serif;
  line-height: 30px;
}
.japa-text{
  width: 46%;
  height: 100%;
  margin: 180px;

}
.japa img{
  width: 75%;
  border-radius: 25px;
  margin: 133px;
  margin-top: 140px;
  padding-left: 100px;
}
.gitatalk{
  display: flex;
  margin: 50px;
  margin-bottom: 0px;
}
.menu-toggle{
  display: none;
}
.gitatalk img{
  height: 80%;
  border-radius: 30px;
}
.gitatalk h2 {
  text-align: center;
  font-size: 40px;
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  padding-top: 90px;
}
.gitatalk p span{
  margin-right: 8x;
  
}
.Bhav {
background-image: url("1-A7408775-1.jpg");
 background-repeat: no-repeat;
background-size: contain;
 
 background-position: center;
 display: flex;
 align-items: center;
 height: 100vh;
  width:100%;

}

.Bhavbox h2{
  text-align: center;
  font-family: "Montserrat", Sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.9px;
  font-size: 30px;
}
.Bhavbox h4{
 padding-left: 15px;
}
.Bhavbox p {
  padding: 15px;
  line-height: 1.8
}
.Bhav img{
margin-left: 50%;
}

 .Bhavbox {
  position: absolute;
  width: 43%;
  margin-left: 90px;
 
  margin-top: 0px;
  margin-bottom: 0px;

}

/* scrolling */

   

    .slider {
      width: 50%;
      position: relative;
      overflow: hidden;
      border-radius: 12px;
      height: 80vh;
  margin: 40px;

  margin-left: 350px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .foot{
      margin: 10px;
      margin-left: 100px;
    }
.Gallery{
  text-align: center;
  margin: 20px;
}
.about-1,.about-2,.about-3{
  display: grid;

}
    .slides {
      display: flex;
      transition: transform 0.5s ease-in-out;
    }

    .slide {
      flex: 0 0 100%;
    }

    .slide img {
      width: 100%;
      height: auto;
      display: block;
      object-fit: cover;
    }

    /* Arrows */
    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0,0,0,0.5);
      color: white;
      border: none;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
      z-index: 1;
    }

    .arrow.left {
      left: 10px;
    }

    .arrow.right {
      right: 10px;
    }

    /* Dots */
    .dots {
      position: absolute;
      bottom: 10px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      gap: 10px;
    }

    .dot {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background: white;
      opacity: 0.5;
      cursor: pointer;
    }

    .dot.active {
      background: red;
      opacity: 1;
    }



@media (max-width: 768px)
 {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #fff8e7;
    position: absolute;
    top: 70px;
    right: 0;
    width: 200px;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  .hero-text{
    z-index: 3;
  color: black;
  padding: 2px;
  border-radius: 10px;
  margin-left: 2px;
  width: 100%;
  height: 80%
  }
  .imgtext{
  display: grid;
}
.Bhav{
  display: grid;
  height: 111vh;
}
.Bhavbox{
  position: inherit;
  margin: 0px;
  width: 92%;
  
  padding: 0px;
 
 
}
.hero {
  position: relative;
  height: fit-content;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.qualities
   {
  padding: 30px;
  background-color: burlywood;
  text-align: center;
}
.japa {
  background: linear-gradient(rgba(228, 224, 224, 0.5), rgba(249, 244, 244, 0.5)), url('A7408715-2.jpg');
  background-size: cover;
  display: grid;
  width: 100%;
  background-attachment: fixed;
  height: 100%;
}
.japa-text{
  width: 75%;
  height: 90%;
  margin: 80px;

}
.footer1 h2{
 width: 87%;
  padding: 0px;
  text-align: center;

}

.Bhav img {
  margin-left: 0px;
  width: 100%;
 
}
hr{
  width: 140px;
}
.about{
  display: grid;
  justify-content: flex-start;
  text-align: left;
  padding: 19px;
}
.about div{
  padding-bottom: 18px;
  padding-left: 5px;
}
  .slider {
    width: 90%;
    margin: 10px;
    height: auto;
  }
.imgtext img{
  width: 90%;
    height: 100%;
    border-radius: -8px;
    margin: 0px;
  
}
.text p{
  margin: 5px;
}
.text {
  
  margin: auto;
  width: 85%;
  margin-top: -10px;
}
.hero p {
  color: gray;
  font-size: 16px;
  font-weight: lighter;
  width: 75%;
  text-align: left;
  margin: 10px;
}
.gitatalk{
  display: grid;
  margin: 10px;
}
.gitatalk img{
  height: 80%;
  border-radius: 30px;
  width: 90%;
  margin: 10px;
}
.gitatext{
  margin: 10px;
}
.gitatext p{
  font-size: 15px;
}
.gitatext h2{
  font-size: 30px;
}
.japa img{
  width: 100%;
  border-radius: 25px;
  margin: 0px;
 display: block;
  padding-left: 0px;
}
.hero h2 {
  font-size: 19px;
  margin-bottom: 3rem;
  text-transform: uppercase;
  line-height: 29px;
  letter-spacing: 2.9px;
  font-family: "Montserrat", Sans-serif;
  font-weight: normal;
  width: 50%;
  margin-top: 40px;
}
    .slider {
        width: 90%;
      }
    

    /* responsive */
 .menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #b06010;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
}
.bg-video{
  display: block;
}
  .menu-toggle {
  display: none;
  font-size: 28px;
  cursor: pointer;
  color: #b06010;
  float: right;
  margin-top: 15px;
  margin-right: 15px;
  z-index: 999;
  position: relative;
}
.foot{
  font-size: 10px;
}
nav {
  
  padding: 20px;
}
  .nav-links.show {
display: flow-root list-item;
    position: fixed;
    z-index: 9999;

  }

  .menu-toggle {
    display: block;
  }


 }
